@model MVCCore_Francis.Models.Cuestionario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cuestionario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pregunta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pregunta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opcion1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opcion1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opcion2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opcion2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opcion3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opcion3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opcion4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opcion4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Puntaje1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Puntaje1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Puntaje2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Puntaje2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Puntaje3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Puntaje3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Puntaje4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Puntaje4)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CuestionarioID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
